//- vim: sw=2

extends layout

block content
  h1= title
  h2 Issuing asset
  p name: #{name}
  p amount: #{amount}
  p assetId: #{assetId}
  p issueAddr: #{issueAddress}
  p result: #{result}
  br/
  a(href='/') home

