//- vim: sw=2

//-extends layout

block content
  h1= title
  h2 Sending assets
  p assetId: #{assetId}
  p qty: #{qty}
  p toAddr: #{toAddr}
  p result: #{result}
  br/
  a(href='#', onclick="window.close()") close

